<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subscription Confirmation</title>
    <style>
      .mx-2 {
        margin: 0 20px;
      }
      .footer-icons {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    </style>
  </head>
  <body
    style="
      background-color: #f4f4f4;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    "
  >
    <div style="text-align: center; padding: 20px">
      <div
        style="
          max-width: 800px;
          margin: auto;
          background-color: #ffffff;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        "
      >
        <div
          style="display: flex; justify-content: space-between; margin: 10px"
        >
          <img
            src="https://res.cloudinary.com/dfbds6fd7/image/upload/v1709298431/rideShare/IMG-20240228-WA0006_e750gw.jpg"
            alt="Company
          Logo"
          />
          <p id="currentDate"><%= date %></p>
        </div>
        <hr />
        <div style="color: #333; padding: 20px; text-align: center">
          <!-- <h1>Ride Published Confirmation - EZPZE Carpool | Rideshare</h1> -->
          <h2>Dear <%= email %>,</h2>
          <p>
            Congratulations! A passenger has selected your published ride on
            EZPZE Carpool | Rideshare. You are now confirmed as the driver for
            the upcoming journey.
          </p>
          <p>Destination from: <%= destination_from  %> </p>
          <p>Destination to: <%= destination_to  %></p>
          <p>Date of Departure: <%= rideDate  %></p>
          <p>Time of Departure: <%= pickupTime  %></p>
          <p>
            Please expect a confirmation email from the passenger shortly
            regarding the travel date and time. We hope you have a safe and
            enjoyable trip.
          </p>
          <p>
            If you have any questions or need further assistance, please feel
            free to contact us at support@ezepze.com
          </p>
          <p>Thank you for choosing EZPZE Carpool | Rideshare.</p>
          <p>Best regards, The EZPZE Carpool | Rideshare Team</p>
        </div>
        <hr />
        <!-- Footer Section -->
        <div style="padding: 20px; text-align: center">
          <div class="footer-icons">
            <img
              src="https://res.cloudinary.com/dfbds6fd7/image/upload/v1709294353/rideShare/ints_kuqvuk.png"
              alt="Instagram"
              class="mx-2"
            />
            <img
              src="https://res.cloudinary.com/dfbds6fd7/image/upload/v1709294337/rideShare/fb_wj954y.png"
              alt="Facebook"
              class="mx-2"
            />
            <img
              src="https://res.cloudinary.com/dfbds6fd7/image/upload/v1709294361/rideShare/link_ldbjza.png"
              alt="LinkedIn"
              class="mx-2"
            />
            <img
              src="https://res.cloudinary.com/dfbds6fd7/image/upload/v1709294382/rideShare/twiiter_itgmmj.png"
              alt="Twitter"
              class="mx-2"
            />
          </div>
          <p>
            If you have any questions, feel free message us at
            Rsupport@ezepze.com
          </p>
          <!-- Social Media Icons -->
          <!-- Include your social media icons here -->
        </div>
      </div>
      <p>&copy; <%= year %>  All rights reserved.</p>
    </div>
  </body>
</html>
