<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subscription Confirmation</title>
    <style>
      .mx-2 {
        margin: 0 20px;
      }
    </style>
  </head>
  <body
    style="
      background-color: #f4f4f4;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    "
  >
    <div style="text-align: center; padding: 50px">
      <div
        style="
          max-width: 600px;
          margin: auto;
          background-color: #ffffff;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        "
      >
        <div
          style="display: flex; justify-content: space-between; margin: 10px"
        >
          <img src=<%= base_url +"v1702010841/logo_mt6atd.png" %> alt="Company
          Logo" />
          <p id="currentDate"></p>
        </div>
        <hr />
        <div style="color: #333; padding: 20px; text-align: center">
          <h1>Thank you for Subscribing to Ride Share</h1>
          <p>
            We are thrilled to confirm that your subscription has been
            successfully activated. You are now part of our growing family, and
            we appreciate your decision to join us. Here's a summary of your
            subscription details:
          </p>
        </div>
        <div style="padding: 10px">
          <table
            style="margin: 20px auto; border-collapse: collapse; color: #fff"
          >
            <tr>
              <td style="background-color: #000; padding: 20px">
                Subscription Plan
              </td>
              <td style="background-color: #000; padding: 20px">
                Premium Plan
              </td>
            </tr>
            <tr>
              <td style="background-color: #000; padding: 20px">
                Subscription Start Date
              </td>
              <td style="background-color: #000; padding: 20px">
                Oct 18, 2023
              </td>
            </tr>
            <tr>
              <td style="background-color: #000; padding: 20px">
                Billing Frequency
              </td>
              <td style="background-color: #000; padding: 20px">Monthly</td>
            </tr>
            <tr>
              <td style="background-color: #000; padding: 20px">
                Billing Amount
              </td>
              <td style="background-color: #000; padding: 20px">$ 456</td>
            </tr>
            <tr>
              <td style="background-color: #000; padding: 20px">
                Payment Method
              </td>
              <td style="background-color: #000; padding: 20px">Stripe</td>
            </tr>
          </table>
        </div>
        <div style="margin: 10px">
          <p>
            Thank you for choosing Ride Share. We look forward to providing you
            with an exceptional experience throughout your subscription journey.
          </p>
        </div>
        <hr />

        <!-- Footer Section -->
        <div style="padding: 20px; text-align: center">
          <p>&copy; 2023 Ride Share. All rights reserved.</p>
          <img src=<%= base_url +"v1698903960/likedin_tj7kss.png" %>
          alt="Instagram" class="mx-2" /> <img src=<%= base_url
          +"v1698903493/facebook_icon_pbxcle.png" %> alt="Facebook" class="mx-2"
          /> <img src=<%= base_url +"v1698903650/instagram_icon_fe3vkq.png "
          %>alt="LinkedIn" class="mx-2" /> <img src=<%= base_url
          +"v1698903760/twitter_icon_fd6jya.png" %> alt="Twitter" class="mx-2"
          />
          <p>
            If you have any questions, feel free message us at
            RideShare@gmail.com.
          </p>
          <!-- Social Media Icons -->
          <!-- Include your social media icons here -->
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("currentDate").innerText =
          new Date().toLocaleDateString();
      });
    </script>
  </body>
</html>
